extends layout

block content
  .container
    .row
      .col-sm.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        h3 Excel Uploader
        input(type='file', name='orders_request', id='inputPostFile')
        input(type='button', name='upload_excel', id='upload_excel_button_id', value='Submit')
